/* <MONTSERRAT>================================================================================ */
@font-face {
    font-family: "Montserrat";
    src: url("/resources/fonts/Montserrat/Montserrat-Regular.eot?g7z9lc");
    src:
        url("/resources/fonts/Montserrat/Montserrat-Regular.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("/resources/fonts/Montserrat/Montserrat-Regular.ttf?g7z9lc") format("truetype"),
        url("/resources/fonts/Montserrat/Montserrat-Regular.woff?g7z9lc") format("woff"),
        url("/resources/fonts/Montserrat/Montserrat-Regular.svg?g7z9lc#icon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/resources/fonts/Montserrat/Montserrat-Italic.eot?g7z9lc");
    src:
        url("/resources/fonts/Montserrat/Montserrat-Italic.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("/resources/fonts/Montserrat/Montserrat-Italic.ttf?g7z9lc") format("truetype"),
        url("/resources/fonts/Montserrat/Montserrat-Italic.woff?g7z9lc") format("woff"),
        url("/resources/fonts/Montserrat/Montserrat-Italic.svg?g7z9lc#icon") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/resources/fonts/Montserrat/Montserrat-Medium.eot?g7z9lc");
    src:
        url("/resources/fonts/Montserrat/Montserrat-Medium.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("/resources/fonts/Montserrat/Montserrat-Medium.ttf?g7z9lc") format("truetype"),
        url("/resources/fonts/Montserrat/Montserrat-Medium.woff?g7z9lc") format("woff"),
        url("/resources/fonts/Montserrat/Montserrat-Medium.svg?g7z9lc#icon") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/resources/fonts/Montserrat/Montserrat-Bold.eot?g7z9lc");
    src:
        url("/resources/fonts/Montserrat/Montserrat-Bold.eot?g7z9lc#iefix") format("embedded-opentype"),
        url("/resources/fonts/Montserrat/Montserrat-Bold.ttf?g7z9lc") format("truetype"),
        url("/resources/fonts/Montserrat/Montserrat-Bold.woff?g7z9lc") format("woff"),
        url("/resources/fonts/Montserrat/Montserrat-Bold.svg?g7z9lc#icon") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}